<template>
  <div class="mentionarea">
    <div 
      class="editable" 
      ref="editable"
      contentEditable="true"
      spellcheck="false"
      @keyup="onKeyUp"
      @input="onInput"
      @paste="onPaste"
      @mouseup="onSelect"
      @tribute-replaced="onTributeReplaced"
      @tribute-active-true="onTributeActivated"
    />

    <div class="center">Native</div>
  </div>
</template>

<script>
import Tribute from 'tributejs'
import { v4 as uuidv4 } from 'uuid'
import rangy from 'rangy'

export default {
  name: 'MentionArea',
  data () {
    return {
      mentions: [],
      currentMention: {},
      // An undo/redo stack which contains a list of actions that have been made
      stack: [],
      selection: {
        focusOffset: 0,
        anchorOffset: 0,
      }
    }
  },
  computed: {
    selectionLength () {
      if (this.selection.focusOffset > this.selection.anchorOffset) {
        return this.selection.focusOffset - this.selection.anchorOffset
      } else {
        return this.selection.anchorOffset - this.selection.focusOffset
      }
    }
  },
  props: {
    users: {
      type: Array,
      default: () => [
        {
          name: 'Katniss Everdeen',
          id:   0,
        },

        {
          name: 'Brady Endres',
          id:   1,
        },

        {
          name: 'Annie Cresta',
          id:   2,
        },

        {
          name: 'Finnick Odair',
          id:   3,
        },

        {
          name: 'Moritz Tibor Aziz Riede',
          id:   4,
        },
      ]
    }
  },
  methods: {
    getCaretOffset () {
      var element = this.$refs.editable

      var caretOffset = 0;
      var doc = element.ownerDocument || element.document;
      var win = doc.defaultView || doc.parentWindow;
      var sel;
      if (typeof win.getSelection != "undefined") {
          sel = win.getSelection();
          if (sel.rangeCount > 0) {
              var range = win.getSelection().getRangeAt(0);
              var preCaretRange = range.cloneRange();
              preCaretRange.selectNodeContents(element);
              preCaretRange.setEnd(range.endContainer, range.endOffset);
              caretOffset = preCaretRange.toString().length;
          }
      } else if ( (sel = doc.selection) && sel.type != "Control") {
          var textRange = sel.createRange();
          var preCaretTextRange = doc.body.createTextRange();
          preCaretTextRange.moveToElementText(element);
          preCaretTextRange.setEndPoint("EndToEnd", textRange);
          caretOffset = preCaretTextRange.text.length;
      }
      return caretOffset;
    },

    isKeyCodePrintable (event) {
      return event.key.length == 1
    },

    onPaste (event) {
      // Prevent the original event from pasting the content directly, then fetch
      // the clipboard content as plain text and insert the stripped content.
      event.preventDefault()

      let startOffset = this.getCaretOffset()
      let pasted = event.clipboardData.getData('text/plain')
      document.execCommand('insertHTML', false, pasted)

      this.mentions
        .filter(mention => mention.startOffset > this.getCaretOffset() - pasted.length)
        .map(mention => {
          mention.startOffset += pasted.length
          mention.endOffset   += pasted.length

          console.log('shifting mention')
        })

      this.stack.push({
        action: 'paste',
        startOffset,
        length: pasted.length,
      })
    },

    onInput (event) {
      let currentOffset = this.getCaretOffset()

      switch (event.inputType) {
        case 'insertText':
          // Shift all mentions behind the inserted content by the length of the content
          this.mentions
            .filter(mention => mention.startOffset > currentOffset - event.data.length)
            .map(mention => {
              mention.startOffset += event.data.length
              mention.endOffset   += event.data.length

              console.log('shifting mention')
            })

          // Log this action to our undo/redo stack
          this.stack.push({
            action: 'insert',
            startOffset: currentOffset,
            length: event.data.length,
          })

          break

        case 'insertFromPaste':
          // This is handled directly by the `paste` event because the input event
          // fires only after the modification has been made, making the stripping
          // of HTML content impossible.
          break

        case 'deleteContentBackward':
          // This is handled directly by the `keyup` listener because the input event
          // is only fired after the selection has been deleted, leading to a selection
          // which is always collapsed. As this does not reflect the previously deleted
          // text, handling this event here is not feasible.
          break

        case 'historyUndo':
          var item = this.stack.pop()

          switch (item.action) {
            case 'mention':
              this.mentions
                .filter(mention => mention.startOffset > this.getCaretOffset() - 1)
                .map(mention => {
                  mention.startOffset -= item.length
                  mention.endOffset   -= item.length
                })

              // Delete the mention
              document.getElementById(item.id).remove()
              break

            case 'insert':
              this.mentions
                .filter(mention => mention.startOffset > this.getCaretOffset() - 1)
                .map(mention => {
                  mention.startOffset -= item.length
                  mention.endOffset   -= item.length
                })
            break

            default:
              break
          }

          break

        default:
          break
      }
    },

    shortenOrRemoveMention (currentMention) {
      let element = document.getElementById(currentMention.id)
      let names = currentMention.name.split(' ');

      console.log(names)

      if (names.length >= 2) {
        // Remove the last name from the mirrored mention, then update its HTML
        // element and end offset accordingly.
        let removedLen = names.pop().length + 1
        element.innerText = names[0]
        currentMention.name = names[0]
        currentMention.endOffset -= removedLen

        // Shift all the mentions that come after this one
        this.shiftMentions(
          mention => mention.startOffset > currentMention.endOffset,
          removedLen,
        )
      } else {
        // Iterate over the following mentions and update them
        // accordingly before we fully remove this one.
        this.shiftMentions(
          mention => mention.startOffset > currentMention.endOffset,
          names[0].length,
        )

        // The last name has already been removed, so we remove the 
        // mention completely, from our mirrored list and the DOM tree.
        this.deleteMention(currentMention)
        console.log(this.mentions)
      }
    },

    // Remove the given mention from the DOM tree and our mirrored list
    deleteMention (mention) {
      document.getElementById(mention.id).remove()
      this.mentions = this.mentions.filter(m => m.id != mention.id)
    },

    // Delete all mentions that fulfill the given condition
    deleteAll (func) {
      this.mentions = this.mentions.filter(!func)
    },

    // Move the start and end offsets of the mentions that fulfill the given condition
    shiftMentions (func, amount) {
      this.mentions
        .filter(func)
        .map(mention => {
          mention.startOffset -= amount
          mention.endOffset   -= amount
        })
    },

    onSelect () {
      let selection = rangy.getSelection()
      this.selection.anchorOffset = selection.anchorOffset
      this.selection.focusOffset = selection.focusOffset
      console.log(this.selectionLength)
    },

    onKeyUp (event) {
      const KEYCODE_BACKSPACE = 8;
      let currentOffset = this.getCaretOffset()

      console.log('caret:   ' + currentOffset)

      if (event.keyCode == KEYCODE_BACKSPACE) {
        /// DEBUG
        console.log('got backspace')
        console.log('selection length:  ' + this.selectionLength)

        /// DEBUG
        for (let mention of this.mentions) {
          console.log('remote offset: ' + mention.endOffset)
        }

        let currentMention = this.mentions.find(mention => mention.endOffset - 1 == currentOffset)

        if (currentMention) {
          this.shortenOrRemoveMention(currentMention)
        } else {
          var shift = 1

          if (this.selectionLength > 1) {
            shift = this.selectionLength

            this.removeAll()
          }

          // Make the affected mentions aware that the selection has been deleted
          this.shiftMentions(
            mention => mention.startOffset > currentOffset - 1,
            shift,
          )
        }
      } else {
        // If the user has selected some text, and starts typing to replace it,
        // that's a case we need to handle as well. In this case, we use selectionLength
        // minus one because in any case, a character gets entered after the deletion.
        console.log('is printable: ' + this.isKeyCodePrintable(event))
        console.log('sel len:  ' + this.selectionLength)
        if (this.selectionLength > 1 && this.isKeyCodePrintable(event)) {
          this.shiftMentions(
            mention => mention.startOffset > currentOffset - 1,
            this.selectionLength,
          )
        }
      }

      this.onSelect()
    },

    onTributeActivated () {
      this.currentMention = {
        startOffset: this.getCaretOffset(),
      }
    },

    onTributeReplaced () {
      this.currentMention.endOffset = this.getCaretOffset()
      console.log(this.currentMention)

      this.mentions.push(this.currentMention)

      // Append an entry to the undo/redo stack so we can undo creating a mention using Ctrl-Z
      this.stack.push({
        action: 'mention',
        startOffset: this.currentMention.startOffset,
        length: this.currentMention.endOffset - this.currentMention.startOffset,
        id: this.currentMention.id,
      })

      // Add a space after the mention automatically, to prevent the issue
      // of not being able to position the caret after a mention
      this.$refs.editable.focus()
      document.execCommand("insertHTML", false, "&nbsp;")
    },
  },
  mounted () {
    var tribute = new Tribute({
      values: this.users,
      lookup: 'name',
      fillAttr: 'name',
      selectTemplate: item => {
        this.currentMention.id = uuidv4()
        this.currentMention.name = item.original.name

        return '<span contentEditable="false" class="dinosaur" id="' + this.currentMention.id + '">' + item.original.name + '</span>';
      },
    })

    tribute.attach(this.$refs.editable)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '~tributejs/tribute.css';

@media only screen and (max-width: 999px) {
  .mentionarea {
    width: calc(100vw - 80px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 25vh;
  }
}

@media only screen and (min-width: 1000px) {
  .mentionarea {
    width: 420px;
    height: 230px;
  }
}

.mentionarea {
  font-family: 'Inter';
  border-radius: 12px;
  background: #333339;
  color: #EEEEF8;
  padding: 16px;
  position: relative;
  display: flex;

  .center {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
    font-size: 22px;
    color: #777;
  }

  .editable {
    width: 100%;
    height: 100%;
    text-align: left;
    box-sizing: border-box;
    line-height: 1.7rem;
    font-size: 14px;
  }
}
</style>
