<template>
  <div class="prose-area">
    <div id="editor" spellcheck="false" @click="focusEditor"></div>
    <div id="content"></div>
    <div class="center">ProseMirror</div>
    <ul id="menu" :class="[{show: showMenu}]" :style="[{top: menuTop + 'px', left: menuLeft + 'px'}]">
      <li v-for="user in users" :key="user.id" @click="user.callback(user)" @mouseover="setMenuIndex(user.id)" :class="[{highlighted: user.id == menuIndex}]">

        <div class="avatar">
          <img :src="user.avatar" />
        </div>
        {{ user.name }}

      </li>
    </ul>
  </div>
</template>

<script>
// import Tribute from 'tributejs'
//import { v4 as uuidv4 } from 'uuid'

import {Schema, DOMParser}  from "prosemirror-model"
import {schema}             from "prosemirror-schema-basic"
import {EditorState}        from "prosemirror-state"
import {EditorView}         from "prosemirror-view"
import {exampleSetup}       from "prosemirror-example-setup"
import {keymap}             from "prosemirror-keymap"
import {selectNodeBackward} from "prosemirror-commands"

export default {
  name: 'MentionArea',
  data () {
    return {
      dinos: [],
      showMenu: false,
      menuIndex: 0,
      items: [],
      mentionNodeSpec: null,
      dinoSchema: null,
      dino: 'https://prosemirror.net/img/dino/stegosaurus.png',
      menuLeft: 0,
      menuTop: 0,
    }
  },
  props: {
    users: {
      type: Array,
      default: () => [
        {
          name: 'Katniss Everdeen',
          avatar: '/avatars/katniss.jpg',
          id:   0,
        },

        {
          name: 'Brady Endres',
          avatar: '/avatars/brady.jpg',
          id:   1,
        },

        {
          name: 'Dara Lucie',
          avatar: '/avatars/annie.webp',
          id:   2,
        },

        {
          name: 'Finnick Odair',
          avatar: '/avatars/finnick.webp',
          id:   3,
        },

        /*{
          name: 'Moritz Riede',
          avatar: '/avatars/moritz.jpg',
          id:   4,
        },*/
      ]
    }
  },
  methods: {
    insertMention(type) {
      return (state, dispatch) => {
        let {$from} = state.selection, index = $from.index()
        if (!$from.parent.canReplaceWith(index, index, this.mentionType))
          return false
        if (dispatch)
          dispatch(state.tr.replaceSelectionWith(this.mentionType.create({type})))
        return true
      }
    },

    focusEditor () {
      window.view.focus()
    },

    selectEntry (name) {
      console.log('selected entry ' + name)
      this.showMenu = false
      const event = new CustomEvent('select-mention-entry', { name: name })
      window.dispatchEvent(event)
      return 
    },

    enableMenu (top, left) {
      this.menuTop = top
      this.menuLeft = left

      let editor = window.view.dom.getBoundingClientRect()
      let menu = document.getElementById('menu').getBoundingClientRect()

      // If the menu's left edge is in the right half of the editor, align from the right
      if (left > (editor.x + editor.width / 2) && left < (editor.x + editor.width / 2 + editor.width / 4)) {
        this.menuLeft -= 180
      } else if (left > (editor.x + editor.width / 2 + editor.width / 5)) {
        this.menuLeft = editor.right - 180
      }

       // If the menu's top edge is in the bottom half of the editor, align from the bottom
      if (top > (editor.y + editor.height / 2) && top < (editor.y + editor.height / 2 + editor.height / 4)) {
        this.menuTop -= menu.height
      } else if (left > (editor.x + editor.width / 2 + editor.width / 5)) {
        this.menuTop = editor.top - menu.height
      }

      console.log('setting menu coords to   T' + this.menuTop + '      L' + this.menuLeft)

      return new Promise((resolve) => {
        this.showMenu = true
        this.items = this.users.map(user => user.callback = resolve)
      })
    },

    disableMenu () {
      this.showMenu = false
    },

    setMenuIndex (idx) {
      console.log(idx)
      this.menuIndex = idx
    },
  },
  mounted () {
    // The supported types of dinosaurs.
    const dinos = ["Jonathan Doe", "Katniss Everdeen", "Gale Hawthorne",
                   "tyrannosaurus", "pterodactyl"]

    const mentionNodeSpec = {
      // Dinosaurs have one attribute, their type, which must be one of
      // the types defined above.
      // Brontosaurs are still the default dino.
      attrs: {type: {default: "brontosaurus"}, id: {default: 0}},
      inline: true,
      group: "inline",
      draggable: true,

      // These nodes are rendered as images with a `dino-type` attribute.
      // There are pictures for all dino types under /img/dino/.
      /*toDOM: node => ["img", {"dino-type": node.attrs.type,
                              src: "https://prosemirror.net/img/dino/" + node.attrs.type + ".png",
                              title: node.attrs.type,
                              class: "dinosaur"}],*/

      toDOM: node => ["span", {"dino-type": node.attrs.type,
                              class: "dinosaur"}, node.attrs.type],
      // When parsing, such an image, if its type matches one of the known
      // types, is converted to a dino node.
      parseDOM: [{
        tag: "img[dino-type]",
        getAttrs: dom => {
          let type = dom.getAttribute("dino-type")
          return dinos.indexOf(type) > -1 ? {type} : false
        }
      }]
    }

    const dinoSchema = new Schema({
      nodes: schema.spec.nodes.addBefore("image", "dino", mentionNodeSpec),
      marks: schema.spec.marks
    })

    let content = document.querySelector("#content")
    let startDoc = DOMParser.fromSchema(dinoSchema).parse(content)

    let mentionType = dinoSchema.nodes.dino

    function insertMention(type) {
      return function(state, dispatch) {
        let {$from} = state.selection, index = $from.index()
        if (!$from.parent.canReplaceWith(index, index, mentionType))
          return false
        if (dispatch)
          dispatch(state.tr.replaceSelectionWith(mentionType.create({type})))
        return true
      }
    }

    window.view = new EditorView(document.querySelector("#editor"), {
      state: EditorState.create({
        doc: startDoc,
        // Pass exampleSetup our schema and the menu we created
        plugins: [
          keymap({
            '@': (state, dispatch) => {
              let { from, to } = window.view.state.selection;

              // Only open the menu if nothing is currently selected.
              if (from != to) { return }

              let coords = window.view.coordsAtPos(from)

              this.enableMenu(coords.top + 10, coords.left).then(user => {
                insertMention(user)(state, dispatch)
                this.disableMenu()
                // Refocus the editor
                window.view.focus()
              })
              return true
            },
            'Escape': () => {
              if (this.showMenu) {
                this.disableMenu()
              }
            },
            'j': (state) => {
              console.log(state.doc)
            },
            'ArrowDown': () => {
              // Increase the menu index, or reset it if we're at the end. 
              if (this.menuIndex < this.users.length - 1) {
                this.menuIndex++
              } else {
                this.menuIndex = 0
              }
            },
            'ArrowUp': () => {
              // Decrease the menu index, or set it to the end if we're at the beginning. 
              if (this.menuIndex > 0) {
                this.menuIndex--
              } else {
                this.menuIndex = this.items.length - 1
              }
            },
            'Tab': () => {
              if (!this.showMenu) { return false }
              let user = this.users.find(user => {
                console.log(user)
                console.log('userid    ' + user.id)
                console.log('mindex    ' + this.menuIndex)
                return user.id == this.menuIndex
              })

              if (user) {
                this.disableMenu()
                user.callback(user.name)
                return true
              }
            },
            'Enter': () => {
              if (!this.showMenu) { return false }
              let user = this.users.find(user => {
                console.log(user)
                console.log('userid    ' + user.id)
                console.log('mindex    ' + this.menuIndex)
                return user.id == this.menuIndex
              })

              if (user) {
                this.disableMenu()
                user.callback(user.name)
                return true
              }
            },
            'Backspace': (state, dispatch, view) => {
              console.log('got backspace')
              if (selectNodeBackward(state, dispatch, view)) {
                console.log('found node')
                return true
              }
              console.log(state.selection.node)
              let node = state.selection.node
              if (node && node.type.name == 'dino') {
                console.log('got dino')
                let names = node.attrs.type.split(' ')
                console.log(names)
                if (names.length == 2) {
                  dispatch(state.tr.replaceSelectionWith(mentionType.create(
                    {
                      type: names[0]
                    }
                  )))
                  return true
                }
              }

              return false
            },
          }),
          ...exampleSetup({schema: dinoSchema, menuBar: false}),
        ]
      })
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '~tributejs/tribute.css';
@import '~prosemirror-menu/style/menu.css';
@import '~prosemirror-view/style/prosemirror.css';

@media only screen and (max-width: 999px) {
  .prose-area {
    width: calc(100vw - 80px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 25vh;
  }
}

@media only screen and (min-width: 1000px) {
  .prose-area {
    width: 420px;
    height: 260px;
  }
}

.prose-area {
  display: flex;
  font-family: 'Inter';
  border-radius: 12px;
  background: #333339;
  color: #EEEEF8;
  padding: 0px 16px;
  position: relative;
  //margin-top: 16px;

  .center {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
    font-size: 22px;
    color: #777;
  }

  #content {
    display: none;
  }

  #editor {
    width: 100%;
    height: 100%;
    text-align: left;
    cursor: text;
    line-height: 25px;

    .dinosaur {
      color: rgba(0, 0, 0, 0.8); 
      background: #44e3; 
      padding: 2px 6px; 
      font-size: 12px; 
      font-weight: 600; 
      user-select: none; 
      cursor: pointer; 
      border-radius: 4px;
    }
  }
}

#menu {
  position: fixed;
  display: none;
  background: #CCC;
  //bottom: -16px;
  min-height: 4 * 36px;
  width: 180px;
  padding: 0;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  transition: height 0.1s ease-in-out;
  max-height: 240px;
  //overflow-y: scroll;

  &.show {
    display: flex;
  }

  li {
    list-style: none;
    text-align: left;
    padding: 0px 6px;
    height: 36px;
    font-size: 15px;
    display: flex;
    align-items: center;
    //transition: background 0.1s linear;
    user-select: none;
    cursor: pointer;
    color: #222;

    .avatar {
      height: 28px;
      width: 28px;

      background: "#222";
      overflow: hidden;
      border-radius: 6px;
      margin-right: 10px;

      img {
        width: 100%;
      }
    }

    &.highlighted {
      background: #AAA;
    }

    /*&:hover {
      background: #AAA;
    }*/
  }
}
</style>
