<template>
  <div class="quill-area">
    <div id="quill-editor" spellcheck="false"></div>
    <div class="center">Quill</div>
  </div>
</template>

<script>
// import Tribute from 'tributejs'
//import { v4 as uuidv4 } from 'uuid'
import Quill from 'quill'
import './quill-plugin'

export default {
  name: 'MentionArea',
  data () {
    return {
      showMenu: false,
      menuX: 0,
      menuY: 0,
      quill: {},
    }
  },
  props: {
    users: {
      type: Array,
      default: () => [
        {
          value: 'Katniss Everdeen',
          id:   0,
        },

        {
          value: 'Brady Endres',
          id:   1,
        },

        {
          value: 'Annie Cresta',
          id:   2,
        },

        {
          value: 'Finnick Odair',
          id:   3,
        },
      ]
    }
  },
  methods: {
    /*onKeyPress (event) {
       if(String.fromCharCode(event.which) == '@') {
         event.preventDefault()
         console.log('caught @')
         let bounds = this.quill.getBounds(this.quill.getSelection().index)
         this.menuX = bounds.left
         this.menuY = bounds.top
         this.showMenu = true
       }
    },

    selectEntry (user) {
      console.log('selected entry ' + user)
      this.showMenu = false

      this.quill.insertEmbed(0, 'mention', user)
    },*/
  },
  mounted () {
    var Size = Quill.import('attributors/style/size');
    Size.whitelist = ['18px'];
    Quill.register(Size, true);

    const quill = new Quill("#quill-editor", {
      modules: {
        mention: {
          allowedChars: /^[A-Za-z\sÅÄÖåäö]*$/,
          mentionDenotationChars: ["@"],
          source: (searchTerm, renderList) => {
            let values = this.users;

            if (searchTerm.length === 0) {
              renderList(values, searchTerm);
            } else {
              const matches = [];
              for (let i = 0; i < values.length; i++)
                if (
                  ~values[i].value.toLowerCase().indexOf(searchTerm.toLowerCase())
                )
                  matches.push(values[i]);
              renderList(matches, searchTerm);
            }
          }
        },

        keyboard: {
          bindings: {
            backspace: {
              key: 8,
              handler: (range, context) => {
                console.log('GOT BACKSPACE !!!!!!1111       ' + JSON.stringify(range) + '    ' + JSON.stringify(context))
                quill.format('mention', false, Quill.sources.USER)
                return false
              }
            }
          },
        },
      }
    });

    console.log('ignore me ...' + quill)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@media only screen and (max-width: 999px) {
  .quill-area {
    width: calc(100vw - 80px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 25vh;
  }
}

@media only screen and (min-width: 1000px) {
  .quill-area {
    width: 420px;
    height: 230px;
  }
}

.quill-area {
  display: flex;
  font-family: 'Inter';
  border-radius: 12px;
  background: #FFF;
  padding: 16px;
  position: relative;
  flex-direction: column;
  font-size: 18px;



  .center {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
    font-size: 22px;
    color: #777;
  }

  #content {
    display: none;
  }

  #editor {
    width: 100%;
    height: 100%;
    text-align: left;

    .dinosaur {
      color: rgba(0, 0, 0, 0.8); 
      background: #44e3; 
      padding: 2px 6px; 
      font-size: 12px; 
      font-weight: 600; 
      user-select: none; 
      cursor: pointer; 
      border-radius: 4px;
    }
  }
}

.dinosaur {
  color: rgba(0, 0, 0, 0.8); 
  background: #44e3; 
  padding: 2px 6px; 
  font-size: 12px; 
  font-weight: 600; 
  user-select: none; 
  cursor: pointer; 
  border-radius: 4px;
}

#menu {
  position: absolute;
  display: flex;
  background: #CCC;
  left: 200px;
  top: 0px;
  padding: 0;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;

  li {
    list-style: none;
    text-align: left;
    padding: 5px 8px;
    transition: background 0.1s linear;
    user-select: none;
    cursor: pointer;

    &:hover {
      background: #DDD;
    }
  }
}
</style>
