<template>
  <div id="app">
    <div class="grid">
      <!--<HelloWorld msg="Welcome to Your Vue.js App"/>-->
      <ProseArea /><!--
      <QuillArea />
      <TiptapArea />-->
    </div>
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'
import ProseArea from './components/ProseArea.vue'
//import TiptapArea from './components/TiptapArea.vue'

export default {
  name: 'App',
  components: {
    //HelloWorld,
    ProseArea,
    //TiptapArea,
  }
}
</script>

<style lang="scss">
@import url("https://rsms.me/inter/inter.css");
@import url('https://cdn.quilljs.com/1.0.0/quill.snow.css');

img[dino-type] {
  height: 32px;
  width: 32px;
}

* {
  box-sizing: border-box
}

.dinosaur { 
  color: rgba(0, 0, 0, 0.9); 
  background: #01ffc322;
  //background: #44e3;
  //background: #66668F;
  //padding: 2px 6px;
  color: #01ffc3;
  font-size: 15px; 
  padding: 2px 5px;
  font-weight: 600; 
  user-select: none; 
  cursor: pointer;
}

#app .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

html, body, #app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #333;
  
  .grid {
    
  }
}

.tribute-container ul {
  background: #777786;
}

.tribute-container ul li {
  font-family: 'Inter';
  padding-left: 6px;

  &.highlight {
    background: #AAAAB3;
  }
}

#app {
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #000;
}
</style>
